body{
  background-color: white;
  margin-bottom: 5%;
}

.container {
  text-align: center;

}
.fsetup1 {
  width: 1000px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-left: 28%;
  margin-bottom: 2%;
}

legend {
  font-size: 30px;
  font-weight:bolder;
  font-family:Arial, Helvetica, sans-serif;
}

.ValidationTitle1 {
  font-size: 3.5rem;
  color: black;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: 'Times new roman', Courier, monospace;
}


.tests {
  font-size: 1rem;
  color: black;
  margin-left: 1%;
  margin-top: 3%;
  font-family: 'Times new roman', Courier, monospace;
}

.checkboxes1 {
  width: 23px; 
  height: 23px;
  margin-left: 0%; 
  margin-top: 3%; 
  border-radius: 5px;
  border: 0ch;    
}

.checkboxes2 {
width: 23px; 
height: 23px;
margin-left: 0%; 
margin-top: 3%; 
border-radius: 5px;
border: 0ch;    
}

.checkboxes3 {
width: 23px; 
height: 23px;
margin-left: 0%; 
margin-top: 3%; 
border-radius: 5px;
border: 0ch;    
}

.checkboxes4 {
width: 23px; 
height: 23px;
margin-left: 0%; 
margin-top: 3%; 
border-radius: 5px;
border: 0ch;    
}



/* Style the dropdown button */
.dropdown-button {
  width: 190px; 
  height: 35px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 7.5px;
  padding-top: 5px;
  font-size: 18px;
  margin-left: 10%; 
  margin-top: 1%; 
  border-radius: 5px;
  border: 0ch;
  border: 2px solid lightgray;

}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button {
  background-color: white;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display:none;
  background-color: whitesmoke;
  min-width: 10px;
  width: 150px; 
  height: 95px;
  margin-left: 10%; 
  margin-top: 1%; 
  margin-bottom: 0%;
  border-radius: 5px;
  border: 0ch;
  z-index: 1;
  border: 2px solid lightgray;
  
}

/* Style the links inside the dropdown */
.dropdown-content a {
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
  padding: 5px ;
  text-decoration:solid;
  display: block;
  padding-bottom: 8px;
  padding-left:35px;
  padding-right: 8px;
  padding-top: 8px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: gainsboro;
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.labels {
  font-size: 20px;
  color: black;
  margin-left: 10%;
  margin-top: 0.3%;
  margin-bottom:5%;
  font-family: 'Times new roman', Courier, monospace;
}


.label1 {
font-size: 18px;
color: black;
margin-left: 20%;
font-family: 'Times new roman', Courier, monospace;
}


.numbers1 {
  width: 30px; 
  height: 30px;
  font-size: 1rem;
  color: black;
  margin-left:1%;
  margin-top: 1%;
  margin-bottom: 0.3%;
  padding-left: 0.9%;
  border-radius: 5px;
  border: 0ch;
  font-family: 'Times new roman', Courier, monospace;
  border: 2px solid lightgray;
}

.numbers12 {
width: 30px; 
height: 30px;
font-size: 1rem;
color: black;
margin-left:1%;
margin-top: 1%;
margin-bottom: 0.3%;
padding-left: 0.9%;
border-radius: 5px;
border: 0ch;
font-family: 'Times new roman', Courier, monospace;
border: 2px solid lightgray;
}

.numbers14 {
width: 30px; 
height: 30px;
font-size: 1rem;
color: black;
margin-left:1%;
margin-top: 1%;
margin-bottom: 0.3%;
padding-left: 0.9%;
border-radius: 5px;
border: 0ch;
font-family: 'Times new roman', Courier, monospace;
border: 2px solid lightgray;
}




.numbers2 {
  width: 70px; 
  height: 30px;
  font-size: 1rem;
  color: black;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right:0.00005%;
  padding-left: 2.6%;
  border-radius: 5px;
  border: 0ch;
  font-family: 'Times new roman', Courier, monospace;
  border: 2px solid lightgray;
}

.error {
  width: 50px; 
  height: 28px;
  font-size: 1rem;
  color: black;
  margin-left: 5%;
  margin-top: 2%;
  margin-right:0.00005%;
  padding: 1.5%;
  border-radius: 5px;
  border: 0ch;
  font-family: 'Times new roman', Courier, monospace;
  border: 2px solid lightgray;
}

.error2 {
width: 50px; 
height: 28px;
font-size: 1rem;
color: black;
margin-left: 5%;
margin-top: 2%;
margin-right:0.00005%;
padding: 1.5%;
border-radius: 5px;
border: 0ch;
font-family: 'Times new roman', Courier, monospace;
border: 2px solid lightgray;
}

.error3 {
width: 50px; 
height: 28px;
font-size: 1rem;
color: black;
margin-left: 5%;
margin-top: 2%;
margin-right:0.00005%;
padding: 1.5%;
border-radius: 5px;
border: 0ch;
font-family: 'Times new roman', Courier, monospace;
border: 2px solid lightgray;
}

.error4 {
width: 50px; 
height: 28px;
font-size: 1rem;
color: black;
margin-left: 5%;
margin-top: 2%;
margin-right:0.00005%;
padding: 1.5%;
border-radius: 5px;
border: 0ch;
font-family: 'Times new roman', Courier, monospace;
border: 2px solid lightgray;
}

.button1 {
width: 80px; 
height: 40px;
background-color: white;
color: green;
margin-left: 88%;
margin-bottom: 2%;
border-radius: 5px;
border: 0ch;
cursor: pointer;
font-size: 18px;
font-weight: 600;
border: 2px solid lightgray; /* Set border to gray with 2px width */
}

.button12 {
  width: 80px; 
  height: 40px;
  background-color: white;
  color: green;
  margin-left: 88%;
  margin-bottom: 2%;
  border-radius: 5px;
  border: 0ch;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid lightgray; /* Set border to gray with 2px width */
  }

.button13 {
width: 80px; 
height: 40px;
background-color: white;
color: green;
margin-left: 88%;
margin-bottom: 2%;
border-radius: 5px;
border: 0ch;
cursor: pointer;
font-size: 18px;
font-weight: 600;
border: 2px solid lightgray; /* Set border to gray with 2px width */
}

.button14 {
  width: 80px; 
  height: 40px;
  background-color: white;
  color: green;
  margin-left: 88%;
  margin-bottom: 2%;
  border-radius: 5px;
  border: 0ch;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid lightgray; /* Set border to gray with 2px width */
  }

  .button11 {
    width: 80px; 
    height: 40px;
    background-color: white;
    color: green;
    margin-left: 88%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 0ch;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid lightgray; /* Set border to gray with 2px width */
    }


.button2 {
  width: 70px; 
  height: 30px;
  background-color: white;
  color: green;
  margin-left: 50%;
  border-radius: 5px;
  border: 0ch;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid lightgray; /* Set border to gray with 2px width */
  }

main{
  margin-bottom: 100px;
}


.messageContainerf{
  width: 500px;
  padding: 20px; /* Padding around the message content */
  border-radius: 20px; /* Rounded corners */
  margin-left: 25%;
  padding-left: 8%;
  display: none;
  background:-o-linea;
  background: white;/*(45deg, lightgray 30%, lightgray 90%); /* Gradient background */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow effect */
  font-family: Times_new_roman, sans-serif; 
  font-size: 16px; 
  color: red; /* Text color */
  font-weight: bold;
  border: 2px solid lightgray;

}

.messageContainert{
  width: 500px;
  padding: 20px; /* Padding around the message content */
  border-radius: 20px; /* Rounded corners */
  margin-left: 25%;
  padding-left: 8%;
  display: none;
  background:-o-linea;
  background: white;/*(45deg, lightgray 30%, lightgray 90%); /* Gradient background */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow effect */
  font-family: Times_new_roman, sans-serif; 
  font-size: 16px; 
  color: green; /* Text color */
  font-weight: bold;
  border: 2px solid lightgray;

}


.messageContainerfilter{
  width: 500px;
  padding: 20px; /* Padding around the message content */
  border-radius: 20px; /* Rounded corners */
  margin-left: 25%;
  padding-left: 8%;
  display: none;
  background:-o-linea;
  background: white;/*(45deg, lightgray 30%, lightgray 90%); /* Gradient background */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow effect */
  font-family: Times_new_roman, sans-serif; 
  font-size: 16px; 
  color: red; /* Text color */
  font-weight: bold;
  border: 2px solid lightgray;

}

.optionButton {
  width: 90px; 
  height: 30px;
  background-color: white;
  color: black;
  margin-top: 5%;
  margin-left: 15%;
  border-radius: 5px;
  border: 0ch;
  border: 2px solid lightgray;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.optionButtont {
  width: 90px; 
  height: 30px;
  background-color: white;
  color: black;
  margin-top: 5%;
  margin-left: 34%;
  border-radius: 5px;
  border: 0ch;
  border: 2px solid lightgray;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}


.tabcontent .Scanin
{
  padding: 10px;
  margin:5px 15%;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 12px;
  width: 70%;
}
.Scanin:focus{
  outline: none;
  border: 1px solid #3498db;
  transform: scale(1.05);
}

/* .filters-container{
  
} */
#chartdiv{
  display: block;
  z-index: 1;
  
}
