
ESP/.editorconfig
ESP/.pio/build/esp32doit-devkit-v1/idedata.json
ESP/.pio/build/esp32doit-devkit-v1/idedata.json
ESP/.pio/build/project.checksum
ESP/.vscode/c_cpp_properties.json
ESP/.vscode/launch.json
.vscode/settings.json
ESP/.pio/build/project.checksum
ESP/.vscode/extensions.json
ESP/.vscode/c_cpp_properties.json
ESP/.vscode/launch.json
ESP/.vscode/launch.json
