body {
    background-color: rgba(108, 108, 118, 0.631);
}
.container{
display: block;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}
.login_form_box{
    width: 90%;
    max-width: 350px;
    min-height: 260px;
    background-color: rgba(44, 44, 48, 0.765);
    backdrop-filter: blur(5px);
    padding: 20px 20px;
    border-radius: 25px;
    box-shadow: 0 0 128px 0 black;
    flex-direction: column;

}
.login_form_box header {
    color: aliceblue;
    font-size: larger;
    font-weight: 600;
    padding: 10px 10px 20px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.login_form_box input{
background-color: rgb(16, 32, 59);
padding: 5px 5px;    
border-radius: 10px;
color: aliceblue;


}
.login_form_box label{
    padding: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;

}

.login_form_box button{
    color: aliceblue;
    background-color: rgb(5, 117, 46);
    border-radius: 25px;
    padding: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    margin-left: 270px;
    transition: all 0.5s;

}
.login_form_box .button :hover{
    transform: translateY(4px);
    background-color: white;
    color: green;
    cursor: pointer;
    transition: all 0.5s;
   
}
.login_form_box  label[for="wrongpass"] {
    text-align: center;
    color: red;
    text-decoration: underline;
 }
