body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ccc9c9;
}

header {
    background-color: #0a0e24;
    color: white;
    text-align: center;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 40px;
    
}
.col {
    width: 40%;
    min-width: max-content;
    float: left;
    
    margin-left: 20px;
    margin-top: 20px;
    background:#33324e69;
    color: white;
    padding: 20px;
    box-shadow: 0 0 29px 0 black;
    border-radius:  20px;
}
.logout-button {
    position: absolute;
    top: 90px;
    right: 10px;
    padding: 5px 10px;
    background-color: #0400ff;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    width: fit-content;
    cursor: pointer;
    
}

main {
    display: flex;
    flex: 1;
}
.container {
    transition: opacity 0.1s 300ms;
    opacity: 0;
}

nav {
    opacity: 0;
    background-color: #33324e;
    color: #ddd;
    width: 0;
    max-width: 250px;
    transition: width 0.4s ease-out;
}


nav ul {
    list-style:none;
}

nav ul li { 
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ;
}
#li0{
    transition: width 0.5s 200ms ease-out;
    max-width: 230px;
    padding: 10px 10px;
    cursor: pointer;
    list-style: none;
    font-weight: 600;
    line-height: 0.3;
}


nav ul li:hover {
    margin-right: 20px;
    background-color: #ddd;
    color: black;
    transform: scale(1.05);
}

.tab-content {
    font-weight: 600;
    display: none;
    margin-left: 20px;
    flex: 1;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

nav ul li.active {
    background-color: #007bff; /* Change to the color you prefer */
    color: white;
}

/* Style for the checkbox container */
.toggle-container {
    display: inline-block;
    position: relative;
  }
  
/* Hide the default checkbox */
.toggle-container input[type="checkbox"] {
    display: none;
}

/* Style for the toggle switch track */
.toggle-track {
    margin-left: 20px;
    width: 50px;
    height: 30px;
    background-color: red; /* Initial color when off */
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style for the toggle switch thumb */
.toggle-thumb {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.3s;
}

.state {
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.underlined-heading {
    width: 100%;
    padding: 5px 20px;
    margin-top: -20px;
    margin-left: -20px;
    color: white;
    background-color: #0a0e24;
    text-align: center;
    border-radius: 20px 20px 0 0;
    text-decoration-line: underline;

}
.alert{
    color: yellow;

}
.good{
    color: blue;

}
