/**------------------------------------------------------------------------
 *                           Configuration
 *------------------------------------------------------------------------**/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #bbbbbb;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  margin: 1%;
  justify-content: center;
  /* Set container height to 100% of the viewport height */
}


  


section {
  padding: 0.5rem 0;

}

.row {
  flex: 1;
  
  /* Takes up remaining space (100% - 50% = 50%) */
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}


.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin: 1%;
  flex: 0 0 30%;
  /* Takes up 50% of the container height */
  background-color: lightgreen;

}

.setup {
  height: 70vh;
  border: #000000 1px solid;
}

.col div {
  margin-bottom: 10px;
}

@media screen and (max-width: 962px) {
  .col {
    width: 95%;
  }
  .row{
    width: 100%;
  }
  .setup {
    width: 95%;
  }
  section {
    margin-bottom: 150px;
  }
}

* {
  box-sizing: border-box
}

/**========================================================================
*                           Navbar
*========================================================================**/

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 19px;
  font-weight: 500;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

.iconLogo {
  height: 40px;
  width: 35px;
}

.logo span {
  color: green;
  margin: 0 20px;
  font-size: x-large;
  font-weight: bolder;
}

@media(max-width:740px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 555px) {
  .sidebar {
    width: 100%;
  }
}

/**------------------------------------------------------------------------
*                           End Navbar
*------------------------------------------------------------------------**/


/**------------------------------------------------------------------------
*                           sidebar
*------------------------------------------------------------------------**/

/* Style the tab */
.tab {
  transition: all 0.5s;
  display: flex;
  position: absolute;
  left: 0px;
  top: auto;
  background-color: #2d2e33;
  border-radius: 8px;
  padding: 2px;
  width: 100%;
  height: 37px;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 10px 20px;
  width: 100%;
  height: 37px;
  font-weight: 600;
  font-size: 15px;
  align-self: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}


.tab button.active {
  background-color: #234f68;
}

.tablinks.inactive {
  background-color: transparent;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0px 12px;
  float: none;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: auto;
}

/* Media query for responsiveness */
@media (max-width: 1023px) {
  .tab {
    float: none;
    width: 100%;
    height: 37px;
  }

  .tab button {
    width: 100%;
    padding: 10px 15px;
    float: left;
    min-width: fit-content;
  }

  .tabcontent {
    width: 100%;
    float: none;
  }
}

/*---------------------------- END OF SIDEBAR ----------------------------*/



/**========================================================================
*                           SCAN Tab
*========================================================================**/

.tabcontent {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  /* Center the #scan div */
  margin-bottom: 100px;
}

.tabcontent label {
  color: black;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.tabcontent .col strong {
  padding-right: 20px;
}

.tabcontent input,
.tabcontent select {
  padding: 10px;
  margin-left: 5;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 12px;
}

.tabcontent button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.tabcontent canvas {
  margin: 20px 20px;
}

.setup {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.TwoBtn {
  display: flex;
  flex-direction: row;
}
.TwoBtn div{
  margin-right:20px;
}

.TwoBtn button {
  background-color: #3498db;
  color: #fff;
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.TwoBtn svg {
  margin: 0px 7px;
  color: white;
}

.headfont {
  font-size: 20px;
  font-weight: bold;
  color: #3498db;
}

.TableContent {
  padding: 40px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px 20px;
}

#scanReadings,
#messageBox,
#i2cValue {
  background-color: whitesmoke;
  color: black;
  width: 90%;
  height: 300px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}
@media screen and (max-width: 962px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .row {
    flex: 1;
    /* Takes up remaining space (100% - 50% = 50%) */
  }
  .col {
    width: 95%;
  }


}

/* preset css */

.presets {
  display: none;
  overflow: hidden;
  z-index: 3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  border: 1px solid #08080860;
  top: 10%;
  right: 0;
  border-radius: 8px;
}

.presets::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  /* Adjust the blur amount as needed */
  opacity: 0.8;
  /* Adjust the opacity for semi-transparency */
  z-index: -1;
  /* Place it behind the content */
}

.blurred-list {
  list-style: none;
  width: 300px;
  padding: 15px;
  margin: 0;
  backdrop-filter: blur(5px);
  /* Adjust the backdrop filter blur amount */
  max-height: 60vh;
  color: #ffffff;
  background: rgba(5, 5, 33, 0.565);
  border-radius: 8px;
  overflow-y: auto;
}

.presets li {
  position: relative;
  z-index: 2;
  /* Adjust the z-index value */
  width: 180px;
  height: 22px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  padding: 5px 10px;
  list-style-type: decimal;
  margin-bottom: 5px;
  cursor: pointer;

}

.presets li:hover {
  border: 1px solid rgba(66, 133, 244, 0.1);
}

.delete-button {
  position: fixed;
  cursor: not-allowed;
  text-decoration: underline;
  background-color: #0000000b;
  color: red;
  border-radius: 2px;
  padding: 3px;
  right: 8px;
  margin-right: 8px;
}

.presets.active {
  display: flex;
}

.presetname {
  display: none;
  position: fixed;
  width: max-content;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;

}

#search {
  padding: 2px;
  border-radius: 2px;
  text-align: center;
}

.presetname::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  opacity: 0.8;
  z-index: -1;
}

.blurred-name {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 60px;
  backdrop-filter: blur(5px);
  background: rgba(5, 5, 33, 0.565);
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



.presetname .presetbtn {
  margin-left: 30px;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2464b3;
  cursor: pointer;
}



.presetname .presetinput {
  padding: 4px;
  border-radius: 5px;
}

.presetname #nameexist {
  color: #b30000;
  text-align: left;
}

.presetname.active {
  display: block;
}

.number{
  width: 60px;
}

/*---------------------------- END OF SCAN ----------------------------*/



/**------------------------------------------------------------------------
*                           Footer
*------------------------------------------------------------------------**/
footer {

  display: flex;
  color: #f0f0f0;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #2d2e33;
  padding: 2px 1%;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-col {
  display: block;
  width: 25%;
}

.footer-col h4 {
  position: relative;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 15px;
  color: #f1bc0d;
  text-transform: capitalize;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #27c0ac;
  height: 2px;
  width: 40px;
}

footer li:not(:last-child) {
  margin-bottom: 8px;
}

ul li label {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
  color: #bdb6b6;
  width: 250px;
  margin-top: 10px;
  margin-right: 10px;
}

@media(max-width: 740px) {
  .footer-col {
    width: 100%;
    margin-bottom: 5px;
  }

  footer ul {
    flex-direction: column;
  }

  .sticky {
    padding: 2px 10%;
    position: block;
  }
}

@media(max-width: 555px) {}

.sticky {

  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot_btn {
  display: block;
  margin: 10px;
  color: white;
  background-color: #27c0ac;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}

#hidefoot {
  width: 50px;
  height: 30px;
}

.DateTime {
  display: flex;
  right: 0;
  top: 10px;
  margin-top: 20px;
  color: white;
  background-color: #27c0ac;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}

.footer-col.inactive {
  display: none;
}

/*---------------------------- END OF Footer ----------------------------*/


/**------------------------------------------------------------------------
 *                           TABLE CONTENT
 *------------------------------------------------------------------------**/

table {
  border-collapse: collapse;
  padding-bottom: 80px;
}

th,
td {
  width: auto;
  text-align: center;
  padding: 3px 3px;
}

.tab-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

th {
  background-color: #3498db;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px;
}

.t2 {
  width: 120px;
  height: 35px;
}

.t1 {
  width: 30px;
  height: 35px;
}

.t3 {
  width: 150px;
  height: 35px;
}